// Your personal Apple developer account value
DEVELOPMENT_TEAM = UP6SS5ES7E

// The unique App Store ID for your macOS/iOS app
APP_STORE_ID = 1554960150

// The name of the AUv3 audio unit
AU_BASE_NAME = --NAME--

// The component name. This is made up of a presentable manufacturer name followed by a ':' *and* a space, and
// then the presentable component name.
AU_COMPONENT_NAME = B-Ray: --NAME--

// The component type - auxf = effect
AU_COMPONENT_TYPE = aufx

// The component subtype. This should be unique for effects from the same manufacturer. For a quick demonstration,
// set this to some 4-character tag like "abcd" (but without the quotation marks).
AU_COMPONENT_SUBTYPE = --SUBTYPE--

// The unique manufacturer ID. Pick your own, but values with all lowercase letters are reserved
// by Apple. There used to be a registry...
AU_COMPONENT_MANUFACTURER = BRay

// The bundle / class that will be used to instantiate the AUv3. It must implement the `AUAudioUnitFactory`
// protocol.
AU_FACTORY_FUNCTION = --NAME--AU.ViewController

// The "build" version -- the `bumpVersions.py -b` option sets this to a date/time stamp
CURRENT_PROJECT_VERSION = 20241102214535

// The visible version (eg. 1.2.3)
MARKETING_VERSION = 1.0.0
