name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run iOS build
      run: xcodebuild clean build -scheme 'iOS App' -destination 'name=iPhone 13' -showBuildTimingSummary -allowProvisioningUpdates
